@page
@model Diplom_Utkin.Pages.HomePage.IndexModel
@{
	ViewData["Title"] = "Finance manager";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="window-box kabinet-box">
	@await Html.PartialAsync("Headers/_HomeHeader")
	<section>
		<div id="overlay" class="overlay"></div>
		<div class="popup">
			<div class="poputContent">
				<div class="top_">
					<div>
						<img onclick="closePopup()" src="/Image/krest.png" alt="Alternate Text" />
					</div>

				</div>
				<div class="contentVhod" id="vhodAdminBox">
					<div class="form-block">
						<form method="post">
							<h1>Авторизация</h1>
							<div class="form-group">
								<label asp-for="User.Login" class="control-label">E-mail</label>
								<input asp-for="User.Login" class="form-control" type="email" id="loginAdmin" />
								<span asp-validation-for="User.Login" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label asp-for="User.Password" class="control-label">Пароль</label>
								<input asp-for="User.Password" class="form-control" type="password" id="passwordloginAdmin" />
								<span asp-validation-for="User.Password" class="text-danger"></span>
							</div>
							<div class="form-group">
								<button class="myButton" name="action" type="submit" value="vhodAdmin_btn">Войти</button>
							</div>
						</form>
					</div>
				</div>
				<div class="contentVhod" id="vhodBox">
					<div class="form-block">
						<form method="post">
							<h1>Авторизация</h1>
							<div class="form-group">
								<label asp-for="User.Login" class="control-label">E-mail</label>
								<input asp-for="User.Login" class="form-control" type="email" id="login" />
								<span asp-validation-for="User.Login" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label asp-for="User.Password" class="control-label">Пароль</label>
								<input asp-for="User.Password" class="form-control" type="password" id="password" />
								<span asp-validation-for="User.Password" class="text-danger"></span>
							</div>
							<div class="form-group">
								<button class="myButton" name="action" type="submit" value="vhod_btn">Войти</button>
							</div>
						</form>
						<div class="form-group">
							<button class="myButton" onclick="regOpen()">У Вас нет аккаунта? Зарегистрируйтесь</button>
						</div>
					</div>
				</div>
				<div class="contentVhod" id="regBox">
					<div class="form-block">
						<form method="post" onsubmit="return validMail(event)">
							<h1>Регистрация</h1>
							<div class="form-group">
								<label asp-for="logoValidationReg.Email" class="control-label">E-mail</label>
								<input asp-for="logoValidationReg.Email" class="form-control" type="email" required id="regLogin" />
								<span asp-validation-for="logoValidationReg.Email" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label asp-for="logoValidationReg.Password" class="control-label">Пароль</label>
								<input asp-for="logoValidationReg.Password" class="form-control" type="password" required id="regPassword" />
								<span asp-validation-for="logoValidationReg.Password" class="text-danger"></span>
							</div>

							<div class="form-group form-row">
								<label asp-for="logoValidationReg.ConfirmPassword" class="control-label">Повторите пароль</label>
								<input asp-for="logoValidationReg.ConfirmPassword" class="form-control" type="password" required id="confirmPassword" />
								<span asp-validation-for="logoValidationReg.ConfirmPassword" class="text-danger"></span>
							</div>
							<div class="form-group">
								<button class="myButton" type="submit" value="NoN">Зарегистрироваться</button>
							</div>

						</form>
						<div class="form-group">
							<button class="myButton" onclick="vhodOpen()">У Вас есть аккаунта? Авторизуйтесь</button>
						</div>
					</div>
				</div>
				<div class="contentVhod" id="confirmCodeBox">
					<div class="form-block">
						<form method="post" onsubmit="return validationCode(event)">
							<div class="form-group">
								<label asp-for="codeValidation.securityCode" class="control-label">Введите код подтверждения</label>
								<input asp-for="codeValidation.securityCode" class="form-control" type="number" id="confirmCode" required />
								<span asp-validation-for="codeValidation.securityCode" class="text-danger" id="confirmError"></span>
							</div>
							<input type="hidden" asp-for="logoValidationReg.Email" id="supportLogin" />
							<input type="hidden" asp-for="logoValidationReg.Password" id="supportPassword" />
							<div class="form-group">
								<button class="myButton" type="submit" name="action" value="Registr_btn">Подтвердить</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container logoForm">
		<section class="Liefhac_box">
			<div class="container-lifehack">
				<div class="Liefhac_img">
					<img src="~/Image/1721209876568.png" />
				</div>
				<div class="textLifhac helowBox">
					<h3 class="bold_">Откройте брокерский счёт</h3>
					<p>Более <strong class="bold_">6 млн</strong> клиентов выбрали Finance manager своим брокером. Акции, облигации, валюта и многое другое на нашем сайте.</p>
					
					
					<a onclick="regOpen()" class="myButton">
						Открыть счёт
					</a>
				</div>
			</div>
		</section>

		<section class="vozmozhnosti_Box">
			<div class="item_Vozmozhnost">
				<h4>
					Один счет - много бирж
				</h4>
				<p>
					Доступ к акциям, облигациям, валюте, фьючерсам, опционам и драгметаллам на Московской бирже, СПБ Бирже, HKEX, NYSE и NASDAQ.
				</p>
				<div>
					<img src="/Image/vozmozhnosti/Icon1.png" />
				</div>
			</div>
			<div class="item_Vozmozhnost">
				<h4>
					Надежно
				</h4>
				<p>
					«Finance manager» — самый надежный брокер 2023 года по версии премии «Финансовая Элита России», с рейтингом «АА-|ru.iv|» от НРА.
				</p>
				<div>
					<img src="/Image/vozmozhnosti/Icon4.png" />
				</div>
			</div>
			<div class="item_Vozmozhnost">
				<h4>
					Один счет - много бирж
				</h4>
				<p>
					Удобное приложение Finance manager для всех основных платформ, техподдержка 24/7 в чате или на бесплатной горячей линии.
				</p>
				<div>
					<img src="/Image/vozmozhnosti/Icon3.png" />
				</div>
			</div>
		</section>

		<section class="Liefhac_box">
			<h4>Лайфхаки для умного старта в инвестициях</h4>
			<div>
				<div class="textLifhac">
					<div class="myRow">
						<div class="numberBox">1</div>
						<p><strong class="bold_">Станьте совладельцем успешных компаний —</strong> инвестируйте в акции российских и мировых гигантов, и зарабатывайте на изменении котировок.</p>
					</div>
					<div class="myRow">
						<div class="numberBox">2</div>
						<p><strong class="bold_">Получайте дивиденды —</strong> сформируйте стабильный денежный поток. Во времена высокой инфляции ряд эмитентов может выплачивать дивиденды с двузначной дивидендной доходностью — аналитики «Финама» внимательно следят за такими компаниями.</p>
					</div>
					<div class="myRow">
						<div class="numberBox">3</div>
						<p><strong class="bold_">Назначьте себе «купонную зарплату» —</strong> соберите облигационный портфель с фиксированными купонными выплатами из корпоративных, муниципальных и гособлигаций.</p>
					</div>
					<div class="myRow">
						<p>Узнайте больше лайфхаков для умного старта на бирже, а также получите бесплатно подписку на инвестидеи, аналитику и прогнозы по эмитентам и секторам экономики, чтобы принимать взвешенные торговые решения.</p>
					</div>
				</div>
				<div class="Liefhac_img">
					<img src="/Image/telNew.png"/>
				</div>
			</div>
		</section>
		<section class="primiiList">
			<h3>Наши награды</h3>
			<div class="carousel-wrapper">
				<div>
					<img src="/Image/Premii/Group_1393_4f519875d5.png" alt="Alternate Text" />
				</div>
				<div>
					<img src="/Image/Premii/Group_1394_2675a552bf.png" alt="Alternate Text" />
				</div>
				<div>
					<img src="/Image/Premii/Group_1396_1_115330bda2.png" alt="Alternate Text" />
				</div>

			</div>

			<script> 
				const carouselWrapper = document.querySelector('.carousel-wrapper');
				const items = document.querySelectorAll('.carousel-wrapper div');

				let itemCount = items.length;

				// Дублируем первые элементы для создания эффекта закольцованности
				for (let i = 0; i < itemCount; i++) {
					let clone = items[i].cloneNode(true);
					carouselWrapper.appendChild(clone);
				}

				// Обновляем количество элементов
				itemCount = items.length * 2;

				// Устанавливаем ширину контейнера в зависимости от количества элементов
				carouselWrapper.style.width = `${itemCount * 33.33}vw`;

			</script>
		</section>
	</div>
</div>

<footer class="border-top footer text-muted">
	<div class="container">
		<hr>
		&copy; 2025 - ООО «Finance manager»
		<div>
			<p>Не является индивидуальной инвестиционной рекомендацией.</p>
			<p>Приобретение иностранных ценных бумаг связано с дополнительными рисками.</p>
			<p><a onclick="AdminOpen()" class="myA">Спец. возможности</a></p>
		</div>

	</div>
</footer>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}


<script>
	async function validMail(event) {
		event.preventDefault();
		try {
			const baseUrl = '@Model.apiSettings.BaseUrl';
			const mail = document.getElementById('regLogin').value;
			const response = await fetch(baseUrl+'Logo/validationMail', {
				method:'POST',
				headers:{
					'Content-Type':'application/json'
				},
				body: JSON.stringify({ toMail: mail }) // Преобразуем данные в JSON
			}); // URL вашего API
			if (!response.ok) {
				throw new Error('Network response was not ok');
			}
			const data = await response.json();
			if (!data)
			{
				alert('Данный E-mail уже используется! укажите другой');
				return false;
			}
			alert('Код подтверждения отправлен');
			fetchData(event);
		}
		catch (error) {
			console.error('There was a problem with the fetch operation:', error);
		}
	}

	async function fetchData(event) {
		event.preventDefault();

		try {
			const baseUrl = '@Model.apiSettings.BaseUrl';
			const mail = document.getElementById('regLogin').value;
			const response = await fetch(baseUrl+'Universal/SendCode', {
				method:'POST',
				headers:{
					'Content-Type':'application/json'
				},
				body: JSON.stringify({ toMail: mail }) // Преобразуем данные в JSON
			}); // URL вашего API
			if (!response.ok) {
				throw new Error('Network response was not ok');
			}
			const data = await response.json();

			localStorage.setItem(mail, String(data));

			document.getElementById('supportPassword').value = document.getElementById('regPassword').value;
			document.getElementById('supportLogin').value = mail;

			comfirmOpen();
		} 
		catch (error) {
			console.error('There was a problem with the fetch operation:', error);
		}
	}

	function validationCode(event) {
		const enteredCode = document.getElementById('confirmCode').value;
		const targetMail = document.getElementById('targetMail').value;
		const storedCode = localStorage.getItem(targetMail);

		if (enteredCode != storedCode) {
			document.getElementById('confirmCode').style.color = 'red';
			// alert('Ошибка: Код подтверждения не совпадает. Пожалуйста, проверьте введённый код.');
			event.preventDefault();
			return false;
		}
		else{
			document.getElementById('confirmCode').style.color = 'black';
			console.log('Код подтверждения верный.');
			// alert('Пользователь успешно зарегистрирован!');
			return true;
		}
		
	}

	function vhodOpen() {
		openPopup();

		document.getElementById('confirmCodeBox').style.display = 'none';
		document.getElementById('vhodAdminBox').style.display = 'none';
		document.getElementById('regBox').style.display = 'none';
		document.getElementById('vhodBox').style.display = 'block';
	}
	function regOpen() {
		openPopup();

		document.getElementById('confirmCodeBox').style.display = 'none';
		document.getElementById('vhodAdminBox').style.display = 'none';
		document.getElementById('vhodBox').style.display = 'none';
		document.getElementById('regBox').style.display = 'block';
	}

	function comfirmOpen() {
			
		document.getElementById('regBox').style.display = 'none';
		document.getElementById('vhodBox').style.display = 'none';
		document.getElementById('vhodAdminBox').style.display = 'none';
		document.getElementById('confirmCodeBox').style.display = 'block';
	}

	function AdminOpen(){
		openPopup();

		document.getElementById('confirmCodeBox').style.display = 'none';
		document.getElementById('regBox').style.display = 'none';
		document.getElementById('vhodBox').style.display = 'none';
		document.getElementById('vhodAdminBox').style.display = 'block';
	}
</script>
