html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    height:100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.myA { 
    color: #0d6efd; 
    text-decoration: underline;
}

.myA:hover{
    cursor: pointer;
}

.home-hd {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home-hd h5{
   margin:0;
}

.home-hd .myItem {
    width: max-content;
}

.myItem {
    display:inline-flex;
    align-self:center;
}

.myItem:hover {
    border: solid #A69AA8;
    border-width: 0 0 2px 0;
    cursor: pointer;
}

header nav div div ul{
    width:min-content;
}

body {
    margin-bottom: 60px;
    background: #F3F3F3;
}

.myContentBox {
    width: 100%;
    justify-self:center;
    vertical-align:middle;
}

.window-box {
    display: flex;
    justify-self: center;
    justify-items: center;
    margin-top: 70px;
}

.vhodBox {
    width: min-content;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);

}
.contentVhod {
    display:flex;
    padding: 10px;
    width:100%;
}

.img-block{
    width:65%;
    height:100%;
}

.hd-imgBlock {
    align-content:center;
    width:50px;
    height:100%;

}
.hd-imgBlock img{
    width: 100%;
    height: 50px;
}

.settings img {
    height:40px;
    width:40px;

}

.hd-nav {
    margin-left: 20px;
}

.img-block img {
    width: 100%;
    height: 500px;
}

.form-block{
    width:100%;
    padding:15px;
    padding-top:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.form-block h1 {
    display:flex;
    margin-bottom:20px;
    justify-content:center;
}

.form-group label {
    margin-bottom:5px;
}

.myButton {
    padding: 7px;
    margin: 10px 0%;
    border: 1.5px solid #000000;
    border-radius: 10px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}


.myButton:hover {
    background-color: lightgray;
    background-color: rgb(144, 129, 187, 0.5)
}

.helowBox a {
    width: max-content;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(144, 129, 187, 0.18)
}

.helowBox {
    align-items:end;
    text-align:end;
}

.helowBox a,
.myButton a {
    color: black;
    text-decoration: none;
}

.vozmozhnosti_Box {
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:30px;
}

.item_Vozmozhnost {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: end;
    background-color: rgb(144, 129, 187, 0.18);
    border-radius:10px;

    padding:15px;
    margin-bottom:30px;
}

.item_Vozmozhnost h4,
.item_Vozmozhnost p{
    width:100%;
    text-align:left;
}


.item_Vozmozhnost div {
    width: 100px;
    height:100%;
    aspect-ratio: 1/1;
    align-content:flex-end;
}
.item_Vozmozhnost div img {
    width: 100%;
    width:100%;
}

.myButton a:hover {
    color: white;
}

.helowBox a:hover{
    color:white;
    background-color: rgb(144, 129, 187, 0.5)
}

.logoForm {
    height:max-content;
}

.Liefhac_box {
    width: 100%;
}

.container-lifehack div{
    width:50%;
}

.Liefhac_box h4 {
    text-align: center;
    margin-bottom: 20px;
}
.textLifhac {
    width:60%;
    font-size:18px;
    flex-direction:column;
}

.Liefhac_box div,
.myRow {
    display: flex;
}
.bold_{
    font-weight:bold;
}

.myRow {
    width: 100%;
    gap: 15px;
}

.myRow a{
    align-self:center;
}

.space-between {
    justify-content: space-between
}

.helowBox {
    align-self: center;
    margin-right: 12%;
}


.textLifhac .myRow div {
    flex-wrap: wrap;
}

.Liefhac_box h1 {
    text-align:center;
    margin-bottom:50px;
}

.Liefhac_img {
    height: 300px;
    justify-content: center;
}


.Liefhac_img img {
    padding:15px;
}


.primiiList {
    margin-top:20px;
    padding:15px;
    overflow:hidden;
    width:100%;
    position:relative;
}

.primiiList h3 {
    text-align:center;
}

.carousel-wrapper {
    display: flex;
    width: calc(100% + 33.33%);
    animation: move 20s linear infinite; /* Анимация движения */
}

.carousel-wrapper div {
    display: block;
    width: 35%;
    padding: 15px;
   
}


.carousel-wrapper div img{
    width:100%;
    filter: brightness(87%);
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



.kabinet-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height:100%;
    margin-top: -15px;
    background-color: transparent;
    box-shadow: 0px 0px 15px grey;
}

.salery-box {
    justify-content:center;
    align-items:center;

}
.salery-box div form {
    display:flex;
    justify-content: center;
}

.salery-box ~ .form-group{
    width:50%;
}
.priblValue {
    display: flex;
    justify-content: center;
}

.salery-box form ~ div{
    margin-left:65px;
    flex-direction:row;
    display:flex;
    gap:20px;
}

.salery-box .form-group{
    margin-bottom:10px;
    width:100%;

}

.informations {
    width: 100%;
    height: 500px;
}
.informations div{
    flex-direction:column;
    width:80%;
}

.informations div h1,
.poputContent form h1{
    text-align:center;
    font-size: 20px;
}

canvas {
    margin-top: -30px;
    margin-left: 15%;
    align-self:center;
}

.raschotBox {
    padding: 20px;
    background-color: rgb(144, 129, 187, 0.5);
    border-radius: 15px;
}

.raschotBox form input:hover, 
.tb_Box table thead a:hover,
.poputContent input:hover{
    opacity:0.79;
    font-style:italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tb_Box {
    padding:20px;
    border-radius:15px;

}

.tb_Box h1 {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(144, 129, 187, 0.5);
}


.table {
    height:70vh;
    font-size:20px;
    color:black;
}
.tbColCenter button,
.table a {
    cursor: pointer;
}

.table thead tr th {
    font-size:20px;
    text-align:center;
    font-weight:normal;
}

.table thead tr th a{
    color:black;
    text-decoration:none;
}

.table tbody tr {
    max-height: 70px;
    vertical-align:middle;
}

.table tbody tr td {
    padding-left: 50px;
}


.table tbody tr td a {
    color:black;
    text-decoration:none;
}

.tbColCenter {
    display: flex;
    justify-content: center;
    height:100%;
    align-items:center;
}

.dataSlice {
    display:flex;
    flex-direction:column;
}

/* ////////////////////////////////////////////////////////////// */
.card {
    width: 300px;
    height: 180px;
    perspective: 1000px;
    margin-bottom: 20px;
    border: none;
}

.card span {
     font-size:10px;
     visibility:hidden;
     margin-top:-10px;
     height:1px;
}

#myForm span {
    font-size: 10px;
    visibility: hidden;
    margin-top: -10px;
    height: 1px;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-front {
    background: linear-gradient(135deg, #4CAF50, #3e8e41);
    color: white;
    z-index: 2;
}

.card-back {
    background-color: #333;
    color: white;
    z-index: 1;
    margin-left: 100px;
    justify-content: normal;
    align-items: end;
}

.bank-logo {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.card-number {
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    display:flex;
    justify-content:center;
    margin-bottom:5px;
}
.card-number span{
    display:flex;
    width:200px;
}

.card-number input{
    width:200px;
    text-align:center;
}

.card-details {
    display: flex;
    justify-content: space-between;
    margin-top:15px;
    height:50px;
}

.card-name {
    width:50%;
    height:40px;
    align-self:center;
}

.card-name img{
    width: 100%;
    height:100%;
}

.expiration-date {
    font-size:15px;
}

.expiration-date input {
    height: 25px;
    width: 80px;
    text-align: center;
}

.cvc span,
.expiration-date span {
    width: 70px;
    display: flex;
}

.black-stripe {
    height: 30px;
    background: black;
    width: 100%;
}

.cvc {
    font-size: 1.2em;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 70px;
    text-align:center;
}
.cvc input {
    text-align: center;
}

/* ////////////////////////////////////////////////////////////// */

.popup {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:300px;
    height: max-content;
    background-color: #fff;
    border: 1px solid #000;
    opacity: 1;
    z-index: 9000;
    border-radius: 15px;
    margin-top:5%;
}
.poputContent {
    padding: 15px;
    height:max-content;
}

.kabinetSupportBox{
    width:max-content;
}

.kabinetSupportBox .myRow input{
    width:255px;
    border-bottom:1px solid #000000;
}

.kabinetSupportBox button {
    width:30%;
    margin-bottom:0;
    align-self:end;
}

.main-panel {
    z-index:9002;
}
/* Убираем стрелки в Chrome, Safari и Edge */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Убираем стрелки в Firefox */
.poputContent input {
    -moz-appearance:textfield;
}


.top_ {
    display:flex;
    width:100%;
    height:35px;
    align-items:center;
    flex-direction:row-reverse;
    padding:2px 7px
}

.top_ div {
    height:80%;
}

.top_ div img {
    height:100%;
}

.top_ div img:hover {
    opacity:0.6;
    cursor:pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8999;
}

#popOperationType {
    visibility:collapse;
}


.side-menu {
    z-index: 9998;
    visibility:collapse;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: lightgray;
    color: white;
    transition: right 0.3s ease;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);

    color:black;
}

.side-menu .settings img,
.side-menu .settings {
    width:100%;
}

.side-menu .myRow {
    align-items: end;
}
.side-menu .myRow button{
    margin-bottom:13px;
    padding-left:0;
    background-color:transparent;
    border: 0;
}

.scriner {
    display:flex;
    flex-direction:row;

    font-size:18px;
}

.scriner div {
    display:flex;
    flex-direction: column;
    width: 20%;

    align-content:center;
    flex-wrap:wrap;
}
.scriner div button{
   margin-top:10%;
}
