<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="container">
            <div class="hd-imgBlock">
                <a asp-page="/HomePage/Index" asp-area="">
                    <img src="/Image/mainIcon2.png" alt="Alternate Text" />
                </a>

            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 hd-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/HomePage/Index" asp-area="">Finance manager</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item myItem">

                        <a class="nav-link" href="/HomePage/Index">Назад</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>

    function vuhodOnStart(event)
    {
        event.preventDefault();
        window.location.replace('/HomePage/Index');

    }

    window.history.pushState(null, null, window.location.href);

    window.onpopstate = function(event)
    {
        vuhodOnStart(event);
    }
</script>