@page
@model Diplom_Utkin.Pages.userPage.IndexModel
@{
	ViewData["Title"] = "Кабинет";
}

<div class="vhodBox kabinet-box">
	<div class="contentVhod">
		<div class="toolList">
			<div class="head-list">
				<h3>,nm,n,</h3>
				<h3>,nm,n,</h3>
			</div>
			<div class="body-list">
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
				<h3>xcxzczc</h3>
			</div>
		</div>
		<div class="publicationList">
			211212
		</div>
	</div>
	
</div>