@page
@model Diplom_Utkin.Pages.LoginForm_.LoginFormModel
@{
	ViewData["Title"] = "Авторизация";
}

<div class="vhodBox">
	<img src="/Image/SingUp.png"/>
	<form method="post">
		<h1>Авторизация</h1>
		
		<button class="myButton" name="action" type="submit" value="vhod_btn">Войти</button>
		<button class="myButton" name="action" type="submit" value="Registr_btn">У Вас нет аккаунта? Зарегистрируйтесь</button>
	</form>
	
</div>