@page
@model Diplom_Utkin.Pages.LoginForm_.LoginFormModel
@{
	ViewData["Title"] = "Авторизация";
}

<div class="vhodBox">
	<div class="contentVhod">
		<div class="img-block">
			<img src="/Image/SingUp.png" />
		</div>
		<div class="form-block">
			<form method="post">
				<h1>Авторизация</h1>
				<div class="form-group form-row">
					<label asp-for="User.Loggin" class="control-label">E-mail</label>
					<input asp-for="User.Loggin" class="form-control" />
					<span asp-validation-for="User.Loggin" class="text-danger"></span>
				</div>

				<div class="form-group form-row">
					<label asp-for="User.PaswordHash" class="control-label">Пароль</label>
					<input asp-for="User.PaswordHash" class="form-control" />
					<span asp-validation-for="User.PaswordHash" class="text-danger"></span>
				</div>
				<div class="form-group form-row">
					<button class="myButton" name="action" type="submit" value="vhod_btn">Войти</button>
				</div>
			</form>
			<form method="post">
				<div class="form-group form-row">
					<button class="myButton" name="action" type="submit" value="Registr_btn">У Вас нет аккаунта? Зарегистрируйтесь</button>
				</div>
				
			</form>

		</div>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}