@page
@model Diplom_Utkin.Pages.LoginForm.SingUpModel

@{
    ViewData["Title"] = "Регистрация";
}

<div class="vhodBox">
    <div class="contentVhod">
        <div class="img-block">
            <img src="/Image/SingIn.png" />
        </div>
        <div class="form-block">
            <form method="post">
                <h1>Зарегистрироваться</h1>
                <div class="form-group">
                    <label asp-for="User.Loggin" class="control-label">E-mail</label>
                    <input asp-for="User.Loggin" class="form-control" />
                    <span asp-validation-for="User.Loggin" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="User.PaswordHash" class="control-label">Пароль</label>
                    <input asp-for="User.PaswordHash" class="form-control" type="password" />
                    <span asp-validation-for="User.PaswordHash" class="text-danger"></span>
                </div>

                <div class="form-group form-row">
                    <label for="ConfirmPassword" class="control-label">Повторите пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="myButton" name="action" type="submit" value="Create">Зарегистрироваться</button>
                </div>

            </form>
            <form method="post">
                <div class="form-group">
                    <button class="myButton" name="action" type="submit" value="Beck_btn">У Вас нет аккаунта? Зарегистрируйтесь</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
